<div>
    <h1>项目</h1>
    <section *ngIf="!formFlag" class="form">
        <button (click)="addClick()">添加</button>
        <ul>
            <li>
                <span>ID</span>
                <span>项目名</span>
                <span>创建时间</span>
                <span>创建人</span>
                <span>负责人</span>
                <span>路径</span>
                <span>端口</span>
                <span>描述</span>
                <span>操作</span>
            </li>
            <li *ngFor="let project of projects">
                <span>{{project._id}}</span>
                <span (click)="detailClick(project)" class="link">{{project.name}}</span>
                <span>{{project.create_time}}</span>
                <span>{{data.getValue('users',project.create_user,'name')}}</span>
                <span>{{data.getValue('users',project.principal,'name')}}</span>
                <span>{{project.path}}</span>
                <span>{{project.port}}</span>
                <span>{{project.description}}</span>
                <a (click)="updateClick(project)">修改</a>
                <a (click)="deleteClick(project._id)">删除</a>
            </li>
        </ul>
    </section>
    <section *ngIf="formFlag">
        <ul>
            <li>
                <label>项目名称</label>
                <input required
                       name="name"
                       [(ngModel)]="curProject.name">
            </li>
            <li>
                <label>创建人</label>
                <input type="hidden"
                       [(ngModel)]="curProject.create_user"
                       name="create_user">
                <input disabled [value]="data.getValue('users',curProject.create_user,'name')">
            </li>
            <li>
                <label>负责人</label>
                <select [(ngModel)]="curProject.principal" name="principal">
                    <option *ngFor="let user of users" [value]="user._id">
                        {{user.name}}
                    </option>
                </select>
            </li>
            <li>
                <label>路径</label>
                <input required
                       name="path"
                       [(ngModel)]="curProject.path">
            </li>
            <li>
                <label>端口</label>
                <input required
                       name="port"
                       [(ngModel)]="curProject.port">
            </li>
            <li>
                <label>描述</label>
                <textarea [(ngModel)]="curProject.description" name="description"></textarea>
            </li>
        </ul>
        <footer>
            <button (click)="saveClick()">保存</button>
            <button (click)="cancelClick()">取消</button>
        </footer>
    </section>
</div>