<div>
    <h1>用户</h1>
    <section *ngIf="!formFlag">
        <button (click)="addClick()">添加</button>
        <u>
            <li *ngFor="let user of users">
                <span>{{user._id}}</span>
                <span>{{user.name}}</span>
                <span>{{user.create_time}}</span>
                <span>{{user.create_user=='default'?'default':userCol[user.create_user].name}}</span>
                <span>{{roleCol[user.role].text}}</span>
                <span>{{user.description}}</span>
            </li>
        </u>
    </section>
    <section *ngIf="formFlag" class="form-user">
        <ul>
            <li>
                <label>用户名</label>
                <input required
                       name="name"
                       [(ngModel)]="curUser.name">
            </li>
            <li>
                <label>密码</label>
                <input type="password"
                       name="password"
                       required [(ngModel)]="curUser.password">
            </li>
            <li>
                <label>确认密码</label>
                <input type="password" required>
            </li>
            <li>
                <label>创建人</label>
                <input type="hidden"
                       [(ngModel)]="curUser.create_user"
                       name="create_user">
                <input disabled value="superadmin" [value]="userCol[curUser.create_user].name">
            </li>
            <li>
                <label>角色</label>
                <select [(ngModel)]="curUser.role" name="role">
                    <option *ngFor="let role of roles" [value]="role._id" [selected]="role.name=='user'" >
                        {{role.text}}
                    </option>
                </select>
            </li>
            <li>
                <label>描述</label>
                <textarea [(ngModel)]="curUser.description" name="description"></textarea>
            </li>
        </ul>
        <footer>
            <button (click)="saveClick()">保存</button>
            <button (click)="cancelClick()">取消</button>
        </footer>
    </section>
</div>